.p-4.p-md-5.mb-4.rounded.text-bg-dark
    .col-md-6.px-0
        h1.display-4.fst-italic #{ posts[0][0].title }
        p.lead.my-3 #{ posts[0][0].body.slice(0, 300) } .....
        p.lead.mb-0
            a.text-white.fw-bold(href='#') Continue reading...
.row.mb-2
    .col-md-6
        .row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-270.position-relative
            .col.p-4.d-flex.flex-column.position-static
                strong.d-inline-block.mb-2.text-primary #{ posts[0][1].category }
                h3.mb-0 #{ posts[0][1].title }
                .mb-1.text-muted #{ posts[0][1].created_at }
                p.card-text.mb-auto #{ posts[0][1].body.slice(0, 250) } .....
                a.stretched-link(href='#') Continue reading
            .col-auto.d-none.d-lg-block
                svg.bd-placeholder-img(width='200' height='250' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Thumbnail' preserveaspectratio='xMidYMid slice' focusable='false')
                    title Placeholder
                    rect(width='100%' height='100%' fill='#55595c')
                    text(x='50%' y='50%' fill='#eceeef' dy='.3em') Thumbnail
    .col-md-6
        .row.g-0.border.rounded.overflow-hidden.flex-md-row.mb-4.shadow-sm.h-md-270.position-relative
            .col.p-4.d-flex.flex-column.position-static
                strong.d-inline-block.mb-2.text-success #{ posts[0][2].category }
                h3.mb-0 #{ posts[0][2].title }
                .mb-1.text-muted #{ posts[0][2].created_at }
                p.mb-auto #{ posts[0][1].body.slice(0, 250) } .....
                a.stretched-link(href='#') Continue reading
            .col-auto.d-none.d-lg-block
                svg.bd-placeholder-img(width='200' height='250' xmlns='http://www.w3.org/2000/svg' role='img' aria-label='Placeholder: Thumbnail' preserveaspectratio='xMidYMid slice' focusable='false')
                    title Placeholder
                    rect(width='100%' height='100%' fill='#55595c')
                    text(x='50%' y='50%' fill='#eceeef' dy='.3em') Thumbnail